
.header {
  display: inline-flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid black;
  width: 2000px;
  content-box: 1000px;
  margin: auto;
  align-items: center;

}

#company {
  color: MediumAquamarine;
}

ul {
  display: inline-flex;
  flex-grow: 6;
  align-self: flex-end;
  padding-left: 900px;
  align-items: flex-start;
  list-style-type: none;

  }
 li {
       padding-left: 25px;
 }

a {
  color: black;
}

.large {
  /*margin-top: 350px;*/
  display: flex;
  width: 630px;
  flex-direction: column;
  position: absolute;
}

h4,
p,
h6 {
  border: 2px solid black;
}
